*{padding:0;margin:0;}
html,body {
	width:100%;
	height:100%;
 	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@media all and (max-width:500px){
	h1>span{display:none;}
}

#index_page {
    width: 50%;
    height: 80%;
    background: #fff;
    margin: 40px auto;
    box-shadow: 2px 2px 3px 0 rgba(117,124,129,.12);
}
#index_title{
	width: 100%;
    height: 100px;
    line-height: 100px;
    color: #2e3d49;
    box-shadow: 0 0.25em 0.5em 0 rgba(46,61,73,.12);
    background:#fff;
}
#form-header{
	font-size: 34px;
    font-weight: 300;
    line-height: 1.3;
    color: #028bb1;
    text-align: center;
}

 h1{
	text-align: center;
	font-size:40px;
}
 h1 img {
	width:100px;
	height:auto;
	vertical-align: middle;
}
 p{
	text-align: center;
	font-size: 18px;
}
 fieldset {
	margin:20px 0 20px 40px;
	width:100%;
	border: none;
}
 fieldset div {
    margin:20px auto;
    width:60%;
}
 input[type='text'], input[type='password'] {
	width:80%;
	height:40px;
	border: 1px solid #dbe2e8;
	font-size:15px;
	padding:4px 3px;
	margin-bottom:5px;
	border-radius: 8px;
    box-shadow: 0 0.25em 0.5em 0 rgba(46,61,73,.12);
    transition: box-shadow .3s ease,border .3s ease;
}
 input:hover {
	box-shadow: none;
}
 a {
 	border-radius: 8px;
	margin-right:65px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	background-color: #028bb1;
	padding: 10px 40px;
	color:#fff;

}