.send_img:after{
	content: '点击头像修改默认头像';
	position: absolute;
	display: inline-block;
	color: #028bb1;
	top:80px;
}
.register_input{
	position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    left: -24%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
     opacity: 0; 
    cursor: pointer;
}
.register_ava{
	display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 24%;
}