<!DOCTYPE html>
<html>
<head>
<title>畅聊聊天室</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">    
<link rel = "Shortcut Icon" href=/favicon.ico> 
<meta name="applicable-device" content="pc,mobile">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
<link rel='stylesheet' href='/chatroom.css'/>
<style>
	.online_people_link{
		text-decoration: underline;
		color:burlywood;
		cursor: pointer;
	}
	#leave-message{
    width: 100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    letter-spacing: 2px;
	}
	.show{
		display: none;
	}
	#online_user{
		list-style-type: none;
		position: absolute;
   		top: 30px;
	    left: 58px;
	    transition: all 0.8s;
	    border-radius: 11px;
	    background-color: #ccc;
	    border: none;
	    box-shadow: 2px 0px 12px 1px #ccc;
	    display:none;
	    z-index: 999;
	}
	#online_user:after{
	    content: '';
	    position: absolute;
	    width: 0;
	    height: 0;
	    left: -13px;
	    top: 10px;
	    border-top: 5px solid transparent;
	    border-right: 13px solid #ccc;
	    border-bottom: 5px solid transparent;
	}
	#online_user li{
		color: #fff;
	    height: 30px;
	    line-height: 30px;
	    padding:0 15px;
	    text-align: center;
	    cursor: pointer;
	}
	#online_user li:hover{
		color:#000;
		border-radius: 11px;
		background-color: #fff;
	}
	.online_show_user{
		display: block !important;
		z-index:99;
	}
</style>
<script src="/jquery.min.js"></script>
</head>
<body>
<div class="userList">
	<div class="exitChatRoom">在线人员</div>
	<ul class="online_people">
		<li><a href='/'>退出聊天室</a></li>
	</ul>
</div>
<div id="header" style="cursor:pointer;">
	<h2>畅聊 Chatroom</h2>
</div>
<div class="chat_window">
	<div class="online_number">当前在线人数为:<span></span></div>
</div>
<div class="tip_box">
	<ul class="pop_tip">
        <li>删除</a>
        <li>撤回</a>
	</ul>
</div>
<div class="emoji_package" style="display:none;">
			<span>╮(￣▽￣)╭</span>
			<span>(°ー°〃)</span>
			<span>(>_<)</span>
			<span>⁄(⁄ ⁄•⁄ω⁄•⁄ ⁄)⁄</span>
			<span>(=ﾟωﾟ)ﾉ</span>
			<span>（＞▽＜）</span>
			<span>✪ε✪</span>
			<span>( ・◇・)？</span>
			<span>ヾ(o◕∀◕)ﾉ</span>
			<span>｡◕‿◕｡</span>
			<span>(╬▔皿▔)</span>
			<span>(´･_･`)</span>
			<span>(*´Д｀*)</span>
			<span>(｡・`ω´･)</span>
			<span>(╯‵□′)╯︵┻━┻</span>
			<span>(￣ε(#￣)☆╰╮o(￣皿￣///)</span>
			<span>(ΦωΦ)</span>
			<span>(╭￣3￣)╭♡</span>
			<span>(´・ω・`)</span>
			<span>_(:3」∠)_</span>
			<span>(ﾟДﾟ≡ﾟдﾟ)!?</span>
			<span>←_←</span>
			<span>( ´_ゝ｀)</span>
			<span>ヽ(`Д´)ﾉ</span>
			<span>( ＿ ＿)ノ｜扶墙</span>
			<span> o(*≧▽≦)ツ┏━┓拍桌狂笑</span>
</div>
<div class="input_text">
	<div class="emojis"></div>
	<div id="sendImg"><input type="file" value="Image" accept="image/png,image/gif,image/jpeg" name="file"><img src="/image/image.png" alt=""></div>
	<div id="texterea">
		<ul id="online_user"></ul>
		<textarea id="message"></textarea>
	</div>
	<button id="sendMsg">发送消息</button>
</div>
</form>
<div class="newUser"><span></span></div>
</body>
<script src="/socket.io.js"></script>
<script>
var socket = io.connect('http://localhost:8080/');
var username = '<%= username %>';
var number = 0;
var user_list = '';
var user_list_two = '';
var my_msg = [], all_msg = [];
var my_index = null, all_index = null;
var online = {
	number: 0,
	people: {}
}
//屏蔽浏览器自带点击事件
document.oncontextmenu = function(){
　　return false;
}
$(function(){
//  发送新登录用户
socket.emit('update', username);
})
$('#header').on('click', function(){
	if($('#header').attr('data-id') !== '')
	$('#leave-message').toggleClass('show')
})

//首次输入@，可以点击弹出框艾特某人
$('#message').on('input porpertychange', function(){
		var val = $('#message').val();
		if(val.charAt(0) == '@' && val.length == 1){
			$('#online_user').addClass('online_show_user')
		} else{
			$('#online_user').removeClass('online_show_user')
		}
})

$('#online_user').click(function(event){
	if($(event.target).is('li')){
		$('#message').val($('#message').val()+$(event.target).text() + ' ');
	}
	$(this).removeClass('online_show_user');
	$('#message').focus();
})

//  发送消息方法
var sendMsg = function(){
	var content = $('#message').val();
	var date = new Date();
	var get_seconds = date.getHours()*3600 + date.getMinutes()*60 + date.getSeconds();
  if(content!=''){
  	var obj = {
  		username: username,
  		message : content,
  		date: get_seconds
  	};
  	//  发送消息到服务端
  	 socket.emit('message', obj );
	 $('#message').val('');
  }
}
//  接受更新消息
socket.on('message', function(obj) {
	var regLt=/\</gi;
    var regEnter = /\n/gi;
    var regSpace = /\s/g;
	obj.message = obj.message.replace(regLt,'&lt;').replace(regEnter,"<br>").replace(regSpace,"&nbsp;&nbsp;");
	if(obj.username == username){
		my_msg.push(obj);
		$('.chat_window').append("<section class='my_chat'><div class='my_name'>"+obj.username+"</div><span class='my_msg'>"+obj.message+"</span></section>");
	}
	else {
		all_msg.push(obj);
		$('.chat_window').append("<section class='all_chat'><div class='all_name'>"+obj.username+"</div><span class='all_msg'>"+obj.message+"</span></section>");
	}
	//  聊天框置底
	$('.chat_window').scrollTop($('.chat_window').scrollTop()+9999);
});

//消息撤回
socket.on('reset', function(obj){
	if(obj.username == username){
		return;
	} else{
		for(var i in all_msg){
			if(JSON.stringify(all_msg[i]) == JSON.stringify(obj)){
				all_msg.splice(i, 1);
				all_index = i;
			}
		    // break;
		}
		$('.all_chat:eq('+all_index+')').remove();
		$('.chat_window').append('<section class="reset_tip">'+obj.username+'撤回了一条消息</section>');
	}
})
//  获得在线人数与在线名单
socket.on('update',function(obj) {
	if(online.number<obj.number){
		$('.newUser>span').text(obj.people[obj.people.length-1]+'进入聊天室');
		$('.newUser').addClass('newUser_out');
		popup_news();
	}
	else if(online.number>obj.number){
		for(var i=0;i<online.number;i++){
			if(online.people[i]!==obj.people[i]){
				$('.newUser>span').text(online.people[i]+'退出聊天室');
				$('.newUser').addClass('newUser_out');
				popup_news();
				break;
			}
		}
	}

	online.number=obj.number;
	online.people=obj.people;
	$('.online_number>span').text(online.number);
	for(var i=0;i<online.number;i++){
		user_list += '<li><a class="online_people_link" target="_blank" href=/message?username='+username+'&vistorname='+online.people[i]+' data-id='+online.people[i]+'>'+online.people[i]+'</a><div class="online_tip"></div></li>';
		user_list_two += '<li data-id='+online.people[i]+'>'+online.people[i]+'</li>';

	}
	$('.online_people li:not(:last-child)').remove();
	$('#online_user li').remove();
	$('.online_people').prepend(user_list);
	$('#online_user').prepend(user_list_two);
	user_list = '';
	user_list_two = '';
})

//  点击发送或回车 > 发送消息
$('button').click(sendMsg);
$(window).keydown(function (event) {
	if(event.keyCode == 13 && event.ctrlKey){
		$('#message').val($('#message').val() + "\n");
	}
    else if (event.keyCode == 13) {
    	event.preventDefault();
    	sendMsg();
    }
});

$('body').click(function(){
	$('.tip_box').css({'top':0, 'left':0, 'display':'none'});
})

//鼠标右键事件,撤销，删除信息
$('.chat_window').mousedown(function(e){
	if(e.button == 2 && (e.target.className == 'my_msg' || e.target.className == 'my_img')){
		var target_ele = e.target.innerText || e.target.src;
		$('.tip_box').css({'top':(e.clientY - 10) + 'px', 'left':e.clientX + 'px', 'display':'block'});
	    for(var i=0;i<my_msg.length;i++){
	    	if(my_msg[i].message == target_ele){
	    		my_index = i;
	    		break;
	    	}
	    };
	}
});
//点击弹出框对应选项，处理相应事件
$('.tip_box').click(function(e){
	var text = e.target.innerText;
	var date = new Date();
	var get_seconds = date.getHours()*3600 + date.getMinutes()*60 + date.getSeconds();

	if(text == '删除'){
		my_msg.splice(my_index, 1);
		$('.my_chat:eq('+my_index+')').remove();
	}
	//消息发送10s后，无法撤销
	if(text == '撤回' && my_msg[my_index] && (get_seconds - my_msg[my_index].date <= 10)){
		$('.my_chat:eq('+my_index+')').remove();
		$('.chat_window').append('<section class="reset_tip">你撤回了一条消息</section>');
		//发送socket事件。通知服务端相关处理
		console.log('ooo', my_msg[my_index])
		socket.emit('reset', my_msg[my_index]);
		my_msg.splice(my_index, 1);
	} 
	if(my_msg[my_index] && (get_seconds - my_msg[my_index].date > 10)){
		$('.newUser>span').text('您的消息发送时间超过10s，无法撤回');
		$('.newUser').addClass('newUser_out');
		popup_news();
	}
})

//  消息栏回缩
var popup_news = function(){
	setTimeout(function(){
		$('.newUser').removeClass('newUser_out');
	},3000);
}

//  菜单
$('.userList>img').click(function(){
	if($(this).hasClass('openMenuImg')){
		$(this).removeClass('openMenuImg');
		$('.exitChatRoom').removeClass('openMenuDiv');
		$('.online_people').removeClass('openMenuUl');
	}
	else{
	$(this).addClass('openMenuImg');
	$('.exitChatRoom').addClass('openMenuDiv');
	$('.online_people').addClass('openMenuUl');
	}
})
//  表情
$('.emoji').click(function(event){
	if($(event.target).is('span')){
		$('#message').val($('#message').val()+$(event.target).text());
	}
	$(this).toggleClass('emoji_active');
})

//  发送图片
$("#sendImg").on("change","input[type='file']",function(){
     if (this.files.length != 0) {
         var file = this.files[0],
             reader = new FileReader();
         if (!reader) {
         	 alert("不支持发送图片!");
             return;
         };
         reader.onload = function(e) {
         	$('.chat_window').append("<section class='my_chat'><div class='my_name'>"+username+"</div><img class= my_img src='"+ e.target.result+"' /></section>");
         	$('.chat_window').scrollTop($('.chat_window').scrollTop()+99999);
         	var obj = {"username" : username , "message" : e.target.result}
         	my_msg.push(obj)
            socket.emit('img', obj);
         };
         reader.readAsDataURL(file);
     };
});

//  图片接收
socket.on('img', function(obj){
	all_msg.push(obj)
	$('.chat_window').append("<section class='all_chat'><div class='all_name'>"+obj.username+"</div><img class=all_img src='"+obj.message+"' /></section>");

	$('.chat_window').scrollTop($('.chat_window').scrollTop()+99999);
});

</script>
</html>