<html>
<head></head>
<body>
<form action="http://localhost/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">

    <p>
        <input type="submit" value="上传">
</form>
</body>
</html>